.game-table {
    border: 2px solid black;
    height: 160px;
    width: 160px;
}

.table {
    background-color: grey;
}
td {
    text-align: center;
    border: 2px solid black;
    height: 30px;
    width: 30px;
}

.game-over {
    height: 60px;
    width: 150px;
    text-align: center;
    display: none;
    border: 2px solid black;
}

.isShown {
    background-color: #e8eae6 ;
}

.Mine.isShown {
    background-color: red;
}

.timer {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    margin-left: 70px;
}
