.game-table {
    border: 2px solid black;
    height: auto;
    width: auto;
}

.table {
    background-color: grey;
}
td {
    text-align: center;
    border: 2px solid black;
    height: 30px;
    width: 30px;
}

.game-over {
    height: 20px;
    width: 150px;
    text-align: center;
    display: none;
    /* border: 2px solid black; */
}

.smiley {
    margin-top: 20px;
    font-size: xx-large;
}

.isShown {
    background-color: #e8eae6 ;
}

.Mine.isShown {
    background-color: red;
}

.timer {
    height: 20px;
    width: 20px;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    margin-top: 5px;
    margin-left: 70px;
}

.lives-count {
    font-size: small;
    margin: 2px 0px 2px 4px;
}

