body {
  background-color: #f7f7e8;
}

.container {
  margin: auto;
  height: 500px;
  width: 500px;
  padding: 50px 100px 200px 50px;
  text-align: center;
}

.game-table {
  margin: auto;
  border: 2px solid black;
  height: auto;
  width: auto;
}

.table {
  background-color: grey;
}
td {
  text-align: center;
  border: 2px solid black;
  height: 30px;
  width: 30px;
}

.game-over {
  position: relative;
  bottom: 13px;
  height: 20px;
  width: 150px;
  margin-bottom: 20px;
  display: none;
  margin: auto;
}

.smiley {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: xx-large;
}

.isShown {
  background-color: #e8eae6;
}

.Mine.isShown {
  background-color: red;
}

.timer {
  height: 40px;
  width: 100px;
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-top: 5px;
}

.lives-count {
  font-size: medium;
  margin-bottom: 10px;
}

.levels {
  margin-bottom: 5px;
}

.hint {
  background-color: #fde8cd;
}

.bomb-hints {
  margin-top: 5px;
}

.best-score {
  font-size: medium;
}

span {
  color: #00917c;
}

.bomb-hints button {
  background-color: #ffd56b;
  border: 1px solid #ee9595;
}
